body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('testBavcKKjefkjwhijku.jpg');
}

.ПРИВЕТ {
    font-size: 100px;    
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

#elem1 {
    padding: 30px;
    border: 2px solid green;
}

#elem2 {
    padding: 20px;
    border: 2px solid blue;
}

#elem3 {
    padding: 10px;
    border: 2px solid red;
}

#coordinates {
    position: fixed;
    top: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border: 1px solid black;
}

.bubbling-demo div {
    margin: 10px;
    padding: 20px;
    border: 1px solid;
}

#parent {
    padding: 20px;
    border: 1px solid red;
}

#block {
    padding: 10px;
    border: 1px solid blue;
    margin-top: 10px;
}

#block:not(.active) {
    display: none;
}

.delegation-demo li {
    padding: 10px;
    border: 1px solid gray;
    margin: 5px;
}
